:root {
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);
  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}

html,
body,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Rubik", sans-serif;
}

main {
  background-color: var(--very-light-gray);
  max-width: 1440px;
  min-height: 100vh;
  height: auto;
  margin: 0 auto;
  padding-top: 4rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.msg-card {
  background: var(--white);
  border-radius: 0.5rem;
  width: 800px;
  margin: 0 auto 1rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  gap: 1.5rem;
  padding: 1rem;
  position: relative;
}

.msg-card .msg-reply {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.25rem;
  color: var(--moderate-blue);
  font-weight: 500;
  cursor: pointer;
}

.msg-quantity {
  height: 100%;
}

.msg-quantity__wrap {
  background: var(--light-gray);
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.75rem;
  padding: 0.625rem;
  height: auto;
}

.msg-quantity__num {
  color: var(--moderate-blue);
  font-weight: 500;
  font-family: 12px;
}

.msg-quantity__add, .msg-quantity__less {
  width: 0.625rem;
  cursor: pointer;
}

.msg-content__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.msg-content__profile img {
  width: 2rem;
  height: 2rem;
}

.msg-content__profile .name {
  color: var(--dark-blue);
  font-weight: 500;
}

.msg-content__profile .duration {
  color: var(--grayish-blue);
}

.msg-content__text {
  color: var(--grayish-blue);
  line-height: 1.5;
  margin: 0;
  width: 100%;
}

.msg-content__text .user-ref {
  color: var(--moderate-blue);
  font-weight: 500;
  cursor: pointer;
}

.replies-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.replies-wrapper__line {
  height: 100%;
  width: 2px;
  background-color: var(--light-gray);
  position: absolute;
  left: 50px;
}

.replies-wrapper .msg-card {
  width: 700px;
  margin: 0;
}

.replies-wrapper .msg-card + .msg-card {
  margin-top: 1rem;
}

.input {
  width: 100%;
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.input img {
  width: 2rem;
  height: 2rem;
}

.input textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 6rem;
  border: 1px solid var(--light-gray);
  border-radius: 0.125rem;
  padding: 1rem;
  font-family: inherit;
  color: var(--grayish-blue);
}

.input textarea:focus {
  outline: 1px solid var(--dark-blue);
}

.input__btn-main {
  padding: 1rem 2rem;
  background-color: var(--moderate-blue);
  color: var(--white);
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */